{{ 'component-product-card.css' | asset_url | stylesheet_tag }}

<div class="product-card {{productCardClass}}" style="background-color: {{color}}">
  {% assign image = product.featured_image %}
  {% assign url = product.url %}
  {% assign price = product.price %}
  {% assign compareAtPrice = product.compare_at_price %}

  <a href="{{url}}" class="product-card__link">
    <img
      src="{{ image | image_url }}"
      alt="{{ image.alt }}"
      class="product-card__image"
      width="200"
      height="200"
      loading="eager"
    >
  </a>
  {% for option in product.options %}
    {% if option == 'Color' %}
      <div class="product-card__colors-container">
        <p class="product-card__text">Colors</p>
        <div class="product-card__inputs-wrapper">
          {% for variant in product.variants %}
            <div class="product-card__input" style="background-color: {{variant.title}}">
              <input type="radio" id="{{variant.id}}" value="{{color.id}}">
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <a href="{{url}}" class="product-card__link">
    <p class="product-card__text product-card__description">{{ product.description }}</p>

    <div class="product-card__price-container">
      <p class="product-card__price">{{ price | money }}</p>
      {% if compareAtPrice and price != compareAtPrice %}
        <p class="product-card__compare-price">{{ compareAtPrice | money }}</p>
      {% endif %}
    </div>
  </a>
</div>
