{{ 'test-section-one.css' | asset_url | stylesheet_tag }}

<section class="test-section-one">
  <div class="blocks-grid">
    {% for block in section.blocks %}
      {% assign collection = block.settings.collection %}
      {% assign image = collection.featured_image %}
      {% assign url = collection.url %}
      {% assign title = collection.title %}

      <script>
        console.log({{collection.url | json}})
      </script>

      {% if block.type == 'collection_block' %}
        <a href="{{url}}" class="collection">
          <img src="{{ image | image_url }}" alt="{{ image.alt }}" class="img" width="100" height="100" loading="eager">
          <p class="collection-block-text">{{ title }}</p>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "First section Collection",
  "settings": [{ "type": "text", "id": "text", "label": "Text" }],
  "blocks": [
    {
      "name": "Collection block",
      "type": "collection_block",
      "settings": [{ "type": "collection", "id": "collection", "label": "Collection block" }]
    }
  ],
  "presets": [{ "name": "First section Collection" }]
}
{% endschema %}
